<div class="card">
  <div class="title-table">
    <p>{{ 'PRODUCT.TITLE_TABLE' | translate }}</p>
    <span> {{totalRecords | number}} {{'PRODUCT.TOTAL_RECORDS' | translate }} </span>

    <div class="row">
      <div class="col-sm">
        <div>
          <label>{{'PRODUCT.CODE' | translate}}</label>
        </div>
        <input style="width: 100%;" class="form-control" pInputText type="text" [(ngModel)]="code" />
      </div>
      <div class="col-sm">
        <div>
          <label>{{'PRODUCT.NAME' | translate}}</label>
        </div>
        <input style="width: 100%;" class="form-control" pInputText type="text" [(ngModel)]="name" />
      </div>
      <div class="col-sm">
        <div>
          <label>{{'PRODUCT.PROVIDER_NAME' | translate}}</label>
        </div>
        <input style="width: 100%;" class="form-control" pInputText type="text" [(ngModel)]="providerName" />
      </div>
      <div class="col-sm">
        <div>
          <label>&nbsp;</label>
        </div>
        <button class="btn btn-primary" (click)="searchProducts()">{{'PRODUCT.SEARCH' | translate}}</button>
      </div>
      <div class="col-sm">
        <div>
          <label>&nbsp;</label>
        </div>
        <button class="btn btn-primary" (click)="createProduct()">{{'PRODUCT.CREATE' | translate}}</button>
      </div>
    </div>
  </div>

  <p-table [value]="products" [scrollable]="true" scrollHeight="400px" [loading]="loading" [paginator]="true" sortMode="single" [columns]="cols"
           [reorderableColumns]="true" [rows]="10" [lazy]="false" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="min-width:{{col.width}}">
          {{'PRODUCT.'+col.header | translate }}
          <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td style="min-width:140px">{{product.code}}</td>
        <td style="min-width:140px">{{product.name}}</td>
        <td style="min-width:200px">{{product.description}}</td>
        <td style="min-width:200px">{{product.nameBrand}}</td>
        <td style="min-width:100px">{{product.valueIva/100 | percent }}</td>
        <td style="min-width:140px">{{product.netPrice | currency:3:"$"}}</td>
        <td style="min-width:140px">{{product.sellPrice| currency:3:"$"}}</td>
        <td style="min-width:200px">{{product.providerName}}</td>

        <td style="min-width:140px">
          <div class="row" style="margin: 0 auto">
            <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded"  (click)="editProduct(product)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="8" style="text-align: center;">
          <b class="h8">{{'PRODUCT.NO_DATA_DISPLAY' | translate }}</b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
