.cloud-text {
  font-family: 'Open Sans', arial;
  color: #121e2d;
  -webkit-background-clip: text;
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  width: 80%;
  margin: 10%;
  font-size: 40px;
  animation: clouds-moving infinite 220s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  text-align: center;
}

@media (min-width:340px) and (max-width: 400px) {
  .cloud-text {
    font-size: 40px;
  }
}

@media (min-width:401px) and (max-width: 500px) {
  .cloud-text {
    font-size: 50px;
  }
}

@media (min-width:501px) and (max-width: 700px) {
  .cloud-text {
    font-size: 60px;
  }
}

@media (min-width:701px) and (max-width: 800px) {
  .cloud-text {
    font-size: 90px;
  }
}
