<div class="card">
  <div class="title-table">
    <p>{{ 'PROVIDER.TITLE_TABLE' | translate }}</p>
    <span> {{totalRecords | number}} {{'PROVIDER.TOTAL_RECORDS' | translate }} </span>

    <div class="row">
      <div class="col-sm">
        <div>
          <label>{{'PROVIDER.PROVIDER_NAME' | translate}}</label>
        </div>
        <input style="width: 100%;" class="form-control" pInputText type="text" [(ngModel)]="providerName" />
      </div>
      <div class="col-sm">
        <div>
          <label>{{'PROVIDER.SELLER_NAME' | translate}}</label>
        </div>
        <input style="width: 100%;" class="form-control" pInputText type="text" [(ngModel)]="sellerName" />
      </div>
      <div class="col-sm">
        <div>
          <label>&nbsp;</label>
        </div>
        <button class="btn btn-primary" (click)="searchProviders()">{{'PROVIDER.SEARCH' | translate}}</button>
      </div>

      <div class="col-sm">
        <div>
          <label>&nbsp;</label>
        </div>
        <button class="btn btn-primary" (click)="createProvider()">{{'PROVIDER.CREATE' | translate}}</button>
      </div>
    </div>
  </div>

  <p-table [value]="providers" [scrollable]="true" scrollHeight="400px" [loading]="loading" [paginator]="true" sortMode="single" [columns]="cols"
           [reorderableColumns]="true" [rows]="10" [lazy]="false" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" style="min-width:{{col.width}}; width:{{col.width}}">
          {{'PROVIDER.'+col.header | translate }}
          <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-provider>
      <tr>
        <td style="min-width:140px; width:140px">{{provider.identifier}}</td>
        <td style="min-width:140px; width:140px">{{provider.providerName}}</td>
        <td style="min-width:140px; width:140px">{{provider.sellerName}}</td>
        <td style="min-width:140px; width:140px">{{provider.phone1}}</td>

        <td style="min-width:100px; width:160px">
          <div class="row">
            <div class="col"><button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-outlined p-button-success" (click)="openDialog(provider)"></button></div>
            <div class="col"><button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-outlined p-button-primary" (click)="editProvider(provider)"></button></div>
            <div class="col"><button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-outlined p-button-danger" (click)="confirmDelete(provider)"></button></div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center" colspan="8" style="text-align: center;">
          <b class="h8">{{'PROVIDER.NO_DATA_DISPLAY' | translate }}</b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog *ngIf="displayDialog" header="{{'PROVIDER.TITLE_DIALOG' | translate}}" [(visible)]="displayDialog" [closeOnEscape]="true"
          [draggable]="false" [resizable]="false" [style]="{width: '60vw'}" [contentStyle]="{'max-height':'500px'}" [transitionOptions]="'400ms'" [closable]="true">
  <div class="info-resume">
    <div class="row">
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.IDENTIFIER' | translate}}</p>
        <h4>{{providerSelected.identifier}}
          <span *ngIf="!providerSelected.identifier">-</span>
        </h4>
      </div>
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.ADDRESS' | translate}}</p>
        <h4>{{providerSelected.address}}
          <span *ngIf="!providerSelected.address">-</span>
        </h4>
      </div>
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.EMAIL' | translate}}</p>
        <h4>{{providerSelected.email}}
          <span *ngIf="!providerSelected.email">-</span>
        </h4>
      </div>
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.PROVIDER_NAME' | translate}}</p>
        <h4>{{providerSelected.providerName}}
          <span *ngIf="!providerSelected.providerName">-</span>
        </h4>
      </div>
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.SELLER_NAME' | translate}}</p>
        <h4>{{providerSelected.sellerName}}
          <span *ngIf="!providerSelected.sellerName">-</span>
        </h4>
      </div>
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.PHONE_ONE' | translate}}</p>
        <h4>{{providerSelected.phone1}}
          <span *ngIf="!providerSelected.phone1">-</span>
        </h4>
      </div>
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.PHONE_TWO' | translate}}</p>
        <h4>{{providerSelected.phone2}}
          <span *ngIf="!providerSelected.phone2">-</span>
        </h4>
      </div>
      <div class="col-lg-4 mt-2">
        <p class="text-muted">{{'PROVIDER.PHONE_THREE' | translate}}</p>
        <h4>{{providerSelected.phone3}}
          <span *ngIf="!providerSelected.phone3">-</span>
        </h4>
      </div>
    </div>
  </div>
</p-dialog>
